{% extends "Admin/Listing/new.html.twig" %}

{% block top_js %}
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
{% endblock %}

{% block main_title %}
    <h2>Configuration</h2>
{% endblock %}
