default:
    suites:
        default:
            paths:
                - '%paths.base%/tests/features'
            contexts:
                - App\Tests\Behat\CatalogContext
    extensions:
        FriendsOfBehat\SymfonyExtension: ~
