<a href="{{ path('product_index', { _fragment: 'products' }) }}" class="mdl-typography--font-bold mdl-layout__tab{{ active == 'product' ? ' is-active' : '' }}">Liste</a>
<a href="{{ path('basket_index') }}" class="mdl-typography--font-bold mdl-layout__tab{{ active == 'cart' ? ' is-active' : '' }}">Panier</a>