body {
    padding: 0;
    margin: 0;
}

.main-content {
    padding: 1rem;
}
.handle {
    cursor: grab;
}
.hide {
    display: none;
}

@media screen and (max-width: 640px) {
    .mdc-tab__text-label {
      display:none;
    }
}

.mdc-text-field {
    margin: 10px 0;
}

.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media(min-width: 1024px) {
    .app-fab--absolute {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}
