body {
    padding: 0;
    margin: 0;
}

.main-content {
    padding: 1rem;
}
.handle {
    cursor: grab;
}
.hide {
    display: none;
}

.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.mdc-text-field {
    margin: 10px 0;
}

.block-center {
    max-width: 1200px;
    margin: 0 auto;
}

.dashboard-card {
    padding: 2rem;
}

.noshow {
    visibility: hidden;
}

@media(min-width: 1024px) {
    .app-fab--absolute {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

@media screen and (max-width: 640px) {
    .mdc-tab__text-label {
      display:none;
    }
}

.loading {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #999;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
